spring:
  application:
    name: gateway-server
  cloud:
    gateway:
      server:
        webflux:
          forwarded:
            enabled: true
          x-forwarded:
            enabled: true
          routes:
             - id: test-service
               uri: http://localhost:8081
               predicates:
                - Path=/test/**
               filters:
                 - name: RequestRateLimiter
                   args:
                    key-resolver: "#{@ipKeyResolver}"
                    redis-rate-limiter.replenishRate: 10
                    redis-rate-limiter.burstCapacity: 20
                    redis-rate-limiter.requestedTokens: 1